body
{
	font-family: "Verdana", Georgia, Serif;
	margin:auto;
	width:1000px;
	background-image: url(search30.png);
	background-repeat : no-repeat;
	background-size: cover;
	background-position: center center;
	height:100%;
}

.titre-recherche
{
	width:100%;
	margin:0px;
}

.titre-recherche:hover
{
	background-color:grey;
	color:white;
}

.titre-recherche label
{
	display:inline-block;
	margin:0px;
	width:90%;
	font-size:12px;
}



.icone-croix
{
	display:inline-block;
	width:8px;
	height:8px;
}

.icone-disk
{
	margin-left:5px;
	width: 20px;
	height: 20px;
	vertical-align:top;
}


#recherches
{
	vertical-align:top;
	margin-left:1%;
	display:inline-block;
	width:26%;
	height:500px;
	padding:1px;
	border: 1px solid black;
	border-radius: 10px;

}

#wait
{
	display:none;
	height:500px;
	width:100%;
	background-image: url(loader.gif);
	background-repeat : no-repeat;
	background-position: center center;
}

.titre_news
{
	display:inline-block;
	width:80%;
	font-size:10px;
}

.date_news
{
	display:inline-block;
	width:15%;
	font-size:10px;
}

.action_news
{
	display:inline-block;
	width:5%;
	font-size:10px;
}

.titre_result
{
	display:inline-block;
	font-size:12px;
	width:99%;
	margin:2px;
}

.titre_result:hover
{
	background-color:grey;
	color:white;
}

.titre
{
	background-color:black;
	color:white;
	font-size:12px;
	border-radius: 10px;
	text-align:center;
	padding:5px;
}

#zone-centrale
{
	float:right;
	height:500px;
	margin-right:1%;
	border: 1px solid black;
	width:70%;
	padding:1px;
	border-radius: 10px;
}

#resultats
{
	height:450px;
	margin:auto;
	width:100%;
	overflow-y:auto;

}

#nouvelle-recherche
{
	text-align:center;
}

input[type="text"]
{
	width:80%;
	margin-bottom:10px;
}

#recherches-stockees
{
	height:50%;
	overflow-y:auto;
	padding:10px;
}

#banniere
{
	width:99%;
	height:200px;
}

#accordeon .titre {
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

#boutons-ordonnes {
	text-align: center;
}
